SUPABASE_URL=https://wrcylgkeduujvoilqquz.supabase.co
SUPABASE_SERVICE_KEY=eyJ...korvaa_oikealla_service_role_avaimella...
MASTO1_IP=192.168.8.101
MASTO2_IP=192.168.8.102
HOME_LAT=61.515544
HOME_LON=23.790427
NTFY_CHANNEL=SusieQpurjevene
